* {
  margin: 0;
  padding: 0;
  font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: #ffffff;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  
  box-shadow: 0px 0px 2px 0px  #b6b1b1;
}
.myntra_home {
  height: 45px;
}
.logo_container {
  margin-left: 4%;
}
.action_bar {
  margin-right: 4%;
}
.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}
.nav_bar a {
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
  border-bottom: 4px solid #f54e77;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}

.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}
.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;

  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}
.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Main banner Starts here*/

.banner {
  margin: 30px 0px;
}
.banner img {
  width: 100%;
}
.category-heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.5em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.items {
  width: 250px;
}

/*footer starts here*/

.footer-container {
  width: 70%;
  margin: auto;
  padding: 30px 0px 40px 10px;
  background: #fafbfc;
  display: flex;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
}
.column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}

.column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
}
button p {
  font-size: 10px;
  
}
.buttons button {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 3px 20px;
  border-radius: 10px;
  line-height: 80%;
  
}
.buttons button:hover{
  cursor: pointer;
  
 
}
button img {
  width: 22px;
  float: left;
  margin:2px -20px  ;
  
  
}

.column-p p {
  padding-bottom: 20px;
}

