   
    * {
        margin: 0;
        padding: 0;
        font-family: 'Martel Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
    }

    header {
        width: 99vw;
    }

    nav {
        font-family: 'Martel Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        background-image: linear-gradient(to right, rgb(5, 184, 220), rgb(37, 222, 222), rgb(0, 247, 206));
        border: 0px solid black;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav li {
        list-style: none;
        word-spacing: 20px;
        font-size: 13px;
    }

    nav a {
        color: white;
        text-decoration: none;
    }

    main {
        height: 80vh;
        background-image: url(assets/slider-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main h1 {
        color: white;
        text-align: center;
        font-family: 'Martel Sans', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
    }

    main button {
        margin: 10px 5px;
        border-radius: 25px;
        padding: 10px 38px;
    }

    main :nth-child(2) {
        color: white;
        font-weight: 700;
        border: 0px;
        background-image: linear-gradient(to right, rgb(5, 184, 220), rgb(37, 222, 222), rgb(0, 247, 206));
    }

    main :nth-child(3) {
        color: white;
        font-weight: 700;
        border: 0px solid white;
        background-color: rgba(23, 23, 23, 0.1);
    }

    .main-container {
        background-color: rgb(239, 241, 243);
        height: 120vh;
    }

    .box1 {
        width: 100%;
        background-color: rgb(239, 241, 243);
        text-align: center;
    }

    .box1 h1 {
        margin-bottom: 20px;
    }
 
    .image-box1 img {
        width: 90px;
        float: left;
    }

    .image-box2 img {
        width: 90px;
        float: left;
    }


    .image-container {
        margin: auto;
        width: 60%;
        border: 0px solid black;
    }

    .image-box1 {
        margin: 50px 0px;
        display: flex;
        justify-content: center;
    }
    .image-box1 span{
    color: rgb(111, 111, 111);
    }

    .image-box2 {
        margin: 50px 0px;
        display: flex;
        justify-content: center;
    }
    .image-box2 span{
        color: rgb(111, 111, 111);
        }

    .image-box1 h3 {
        margin-bottom: 10px;
    }

    .image-box2 h3 {
        margin-bottom: 10px;
    }


    .section-2-1 {
        border: 0px solid black;
        width: 70%;
        margin: auto;
        padding: 40px 0px;

    }

    .section-2 {
        border: 0px solid black;
        text-align: center;
        padding: 100px 0px;
    }

    .section-2 h1 {
        margin-bottom: 20px;
    }
    .section-2 p{
        color: rgb(111, 111, 111);
    }

    .section-2 :nth-child(3) {
        margin-bottom: 50px;
    }

    .section-2 a {
        margin: 20px;
        text-decoration: none;
        color: rgb(95, 95, 95);
        font-weight: bold;
        font-size: 14px;
    }


    .image-box3 {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .section-2-1 img {
        border-radius: 7px;
    }

    .section-2-1 span {
        text-align: justify;
        font-size: 13px;
    }

    .image-box4 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .section-third {
        text-align: center;
        background-color: rgb(239, 241, 243);
        border: 0px solid black;
        width: 98.90vw;
        padding: 100px 0px;


    }

    .section-third h1 {
        margin-bottom: 20px;
    }
    .section-third p{
        color: rgb(111, 111, 111);
    }

    .section-third-image {
        display: flex;
        justify-content: center;
        margin: 50px;
        gap: 23px;

    }

    .section-third-image :nth-child(1) {
        border: 0px solid black;
        background-color: white;
        width: 280px;
        height: 430px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px rgb(146, 144, 144);

    }

    .section-third-image :nth-child(2) {
        border: 0px solid black;
        background-color: white;
        width: 280px;
        height: 430px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px rgb(146, 144, 144);
    }

    .section-third-image :nth-child(3) {
        border: 0px solid black;
        background-color: white;
        width: 280px;
        height: 430px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px rgb(146, 144, 144);
    }

    .section-four {
        border: 0px solid black;
        height: 30vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        line-height: 40px;

    }

    .button-four :nth-child(1) {
        border: 1px solid rgb(196, 196, 196);
        border-radius: 50px;
        width: 500px;
        height: 38px;
        color: rgb(107, 106, 106);
        padding: 3px 15px;
    }

    .button-four button {
        float: right;
        padding: 14px 25px;
        border-radius: 50px;
        color: white;
        font-weight: 700;
        border: 0px;
        background-image: linear-gradient(to right, rgb(5, 184, 220), rgb(37, 222, 222), rgb(0, 247, 206));
    }

    .section-five {
        text-align: center;
        background-color: rgb(239, 241, 243);
        border: 0px solid black;
        width: 98.90vw;
        padding: 100px 0px;

    }

    .section-five h1 {
        margin-bottom: 20px;
    }

    .section-five p {
        color: rgb(111, 111, 111);
    }

    .section-five-image {
        display: flex;
        justify-content: center;
        margin: 50px;
        gap: 23px;
        text-align: inherit;
    }

    .section-five-image .five-img {
        padding: 20px;
        border: 0px solid black;
        background-color: white;
        width: 280px;
        height: 380px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px rgb(146, 144, 144);

    }

    .section-five-image img {
        width: 100px;
        border-radius: 50%
    }

    .section-five-image .five-img p {
        margin: 20px 0px;
        color: rgb(111, 111, 111);
        font-size: 15px;
        line-height: 23px;
    }

    .five-img h3 {
        padding-top: 20px;

    }

    .section-six {
        display: flex;
        justify-content: center;
        width: 98.92vw;
        padding: 60px 0px;
        border: 0px solid black;
        gap: 20px;

    }

    .section-six img {
        width: 150px;
    }

    .section-seven {
        text-align: center;
        margin: 10px 0px;
        padding: 60px 0px;
        border: 0px solid black;
        background-color: rgb(239, 241, 243);
    }

    .section-seven h1 {
        margin-bottom: 20px;
    }

    .section-seven p {
        color: rgb(111, 111, 111);
    }

    .seven-box {
        border: 0px solid black;
        margin: 80px auto;
        display: flex;
        height: 40vh;
        width: 60vw;
    }

    .seven-box-1 {
        border: 0px solid black;
        width: 50vw;
        height: 70vh;
        text-align: left;
        line-height: 22px;

    }
    .seven-box-1 h2{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .seven-box-1 p{
        font-size: 14px;
    }
    .seven-box-1 :nth-child(4){
        margin-bottom: 50px;
    }
    a{
        font-size: 14px;
        text-decoration: none;
        color: rgb(111, 111, 111);
    }
    .seven-box-2 {
        border: 0px solid black;
        width: 50vw;
        text-align: left;
        line-height: 22px;
        margin-left: 30px;
    }
    .seven-box-2 input{
        width: 400px;
        height:30px ;
    }
    .seven-box-2 button{
        font-weight: 700;
        border: 0px;
        margin-top: 20px;
        color: white;
        padding: 10px 30px;
        border-radius: 50px;
        background-image: linear-gradient(to right, rgb(5, 184, 220), rgb(37, 222, 222), rgb(0, 247, 206));
    }

    .section-eight{
        border: 1px solid black;
        display:flex;   
        justify-content:center; 
        gap:100px;
        line-height:30px;
        padding:150px 0px;
        font-size:14px;
       
    }
    .eight li{
        list-style: none;
    }
    

